# Dependencies
node_modules/

# Next.js build output
.next/
out/

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# OS files
.DS_Store

# Editor / IDE
.vscode/
.idea/

# Coverage
coverage/

# Build artifacts
dist/
build/

NukkadSeva-backend